* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    background: #fafafa;
}
.btnm {
    padding: 1vh;
    text-align: center;
    background: #ffffff;
    color: #000000;
    border: none;
    border-bottom: #ffffff solid;
    border-top: #ffffff solid;
    transition: 0.5s;
}
.btnm:hover {
    background: #fcfcfc;
    color: #575757;
    border-bottom: black solid;
}
.btnm-act {
    background: #fcfcfc;
    color: #616161;
    border-top: #d9d9d9 solid;
    border-bottom: black solid;
}
.presetContainer {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}
.FilesContainer {
    display: flex;
}
.oneFileInFilesContainer {
    display: flex;
    margin: 1vmin;
    padding: 1vmin;
}
.oneFileInFilesContainerPicked {
    background: red;
}
.addFileButton {
    margin: 1vmin;
    padding: 1vmin;
}
.inlineBlock {
    display: flex;
}
.nonDisplay {
    display: none;
}

.frame{
    width: 100%;
    height: 85vmin;
}

@media (max-width: 1000px){
    .settingsContainer {
        flex-direction: column;
    }
    .fileSettingsContainer{
        width: 99%;
    }
    .fileViewContainer {
        width: 99%;
    }
}
@media (min-width: 1000px){
    .settingsContainer {
        flex-direction: column;
    }
    .fileSettingsContainer{
        width: 99%;
    }
    .fileViewContainer {
        width: 99%;
    }
}
/*@media (min-width: 1000px){*/
/*    .settingsContainer {*/
/*        flex-direction: row;*/
/*    }*/
/*    .fileSettingsContainer{*/
/*        width: 44%;*/
/*    }*/
/*    .fileViewContainer {*/
/*        width: 55%;*/
/*    }*/
/*}*/

.fileSettingsContainer {
    display: flex;
    flex-direction: column;
}
.fileViewContainer {
    background: #ececec;
    display: flex;
    height: 85vh;
    overflow: hidden;
}
.list {
    display: flex;
    background: white;
    margin: 1vh;
    transition: 0.5s;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.imgKarta {
    /*display: inline-block;*/
    position: absolute;
    transition: 0.5s;
}
.imgInServer {
    transition: 0.5s;
}
.settingsContainer {
    display: none;
}
.optionsContainer {
    display: flex;
    flex-direction: column;
}
.settingElem {
    margin-top: 0.5vh;
}
.settingSelect {
    width: 75%;
}
.thisOptionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sizeOptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countContainer {
    display: flex;
}
.priceContainer {
    display: flex;
}
.pagenation {
    display: flex;
}