div.gif img.noanim {
    visibility: visible;
    display: block;
}
div.gif img.anim {
    visibility: hidden;
    display: none;
}

div.gif:hover {
    background: none;
}

div.gif:hover img.noanim {
    visibility: hidden;
    display: none;
}
div.gif:hover img.anim {
    visibility: visible;
    display: block;
}

.digitalPrintContainer {
    position: absolute;
    width: 513.14px;
    height: 401.01px;
    left: 23.26px;
    top: 561px;
    z-index: 1;
}
.widePrintContainer {
    position: absolute;
    width: 680.26px;
    height: 531.61px;
    left: 363px;
    top: 313px;
}
.photoPrintContainer {
    position: absolute;
    width: 316.2px;
    height: 342.55px;
    left: 1070px;
    top: 359.23px;
}
.cupPrintContainer {
    position: absolute;
    width: 363.28px;
    height: 310.11px;
    left: 556.56px;
    top: 670.91px;
}
.postPrintContainer {
    position: absolute;
    width: 447.23px;
    height: 235.38px;
    left: 973.54px;
    top: 730.78px;
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
    .digitalPrintContainer {
        position: absolute;
        width: 513.14px;
        height: 401.01px;
        left: 28px;
        top: 578px;
        z-index: 1;
    }
    .widePrintContainer {
        position: absolute;
        width: 680.26px;
        height: 531.61px;
        left: 190px;
        top: 332px;
    }
    .photoPrintContainer {
        position: absolute;
        width: 316.2px;
        height: 342.55px;
        left: 913px;
        top: 357px;
    }
    .cupPrintContainer {
        position: absolute;
        width: 363.28px;
        height: 310.11px;
        left: 493px;
        top: 683px;
    }
    .postPrintContainer {
        position: absolute;
        width: 447.23px;
        height: 235.38px;
        left: 885px;
        top: 739px;
    }
}
@media (max-width: 400px) {
    .digitalPrintContainer {
        position: absolute;
        width: 283.11px;
        height: 221.24px;
        left: 68px;
        top: 455px;
        z-index: 1;
    }
    .widePrintContainer {
        position: absolute;
        width: 375.31px;
        height: 293.3px;
        left: 12.69px;
        top: 308px;
    }
    .photoPrintContainer {
        position: absolute;
        width: 174.45px;
        height: 188.99px;
        left: 198px;
        top: 710px;
    }
    .cupPrintContainer {
        position: absolute;
        width: 200.43px;
        height: 171.09px;
        left: -5px;
        top: 693px;
    }
    .postPrintContainer {
        position: absolute;
        width: 246.74px;
        height: 129.87px;
        left: 68px;
        top: 881px;
    }
}